@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: #201A1B;
  background: #EBEBEB;
}

.checkbox {
  @apply mr-2;
  @apply w-5 h-5;
  /* @apply border-blue-700; */
  @apply rounded;
}